<% if signed_in? %>
  <div class="row">

    <div class="col-md-4">
      <section class="headache_form">
        <h3>Record new headache</h3>
        <%= render 'shared/headache_form' %>
      </section>
    </div>

    <div class="col-md-8">
      <% if @headaches.any? %>
        <h3>Recorded Headaches (<%= @headaches.count %>)</h3>
        <hr>
        <ul class="list-group">
          <%= render @headaches %>
        </ul>
        <%= will_paginate @headaches %>
      <% end %>
    </div>

  </div>
<% else %>
  <div class="jumbotron">
    <div class="container">
      <h1>Headache Tracker App</h1>
      <p>This is a simple application that allows you to track headaches.</p>
      <p><%= link_to raw("Register &raquo;"), register_path, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
<% end %>